//Layout settings
$a4-width: 29cm;
$a4-height: 36cm;
$padding: 30px 25px;

//Header styling general
header {
  background-color: $primary-color;
  height: 75px;
  box-shadow: 1px 1px 15px #888;
}

//Login screen
.loginbox {
  width: 600px;
  height: 250px;
  box-shadow: 0px 1px 15px #888;
  border-radius: 5px;
  margin: auto;
  text-align: center;
}

.login {
  margin: auto;
}

//Layout
.cv-wrapper {
  display: flex;
  margin: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  flex: 1;
  &--orange {
    background-color: $primary-color;
    //position: relative;
    height: $a4-height;
    padding: $padding;
    h1 {
      color: #fff;
    }
  }
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
  padding: $padding;
}

.a4-column {
  width: $a4-width;
  height: $a4-height;
  box-shadow: 0 10px 20px $box-shadow-color;
}

.function {
    flex: 10;
    margin: 20px 25px;
}

.timeline {
    flex: 0.65;
    &:after {
      content: "";
      border-left: 1px solid $border-color;
      height: 87%;
      display: block;
      margin-top: 34px;
      margin-left: 16px;
      position: absolute;
  }
}

input, textarea {
  border: none;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: #fff;
  text-transform: none;
}

//Header for CV template
.headera4 {
    height: 350px;
    background:linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://myob-gm-digital-production-blog-assets.s3.amazonaws.com/uploads/2018/11/Death-of-open-plan-offices-header.jpg);
    padding: 100px 25px;
    h1 {
        color: #fff;
        font-size: 36px;
        text-transform: none;
    }
    p {
        color: #fff;
    }
    input, textarea {
      border: none;
      background: rgba(0, 0, 0, 0);
      cursor: pointer;
      color: #fff;
      text-transform: none;
    }
  textarea {
    width: 950px;
    height: 100px;
    resize: none;
  }
  }

.editable {
  cursor: pointer;
  &:hover {
    border-bottom: 2px solid #cecece;
    position: relative;
    border-radius: 5px;
    display: inline-block
  }
}

#description {
   font-size: 12px;
 }

#title {
  font-size: 36px;
  font-weight: bold;
}

.edit--icon {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.edit--icons {
  display: inline-block;
  margin-left: 10px;
}

.logo {
  height: 20px;
  width: 100px;
  margin: auto auto -10px auto;
}

.list {
  padding-bottom: 30px;
}

.modal {
  width: 200px;
  height: 50px;
  background-color: #fff;
  margin-top: 20px;
}

.jobtitle {
  color: #000;
  font-weight: bold;
}

.description {
  color: #000;
  resize: none;
  font-size: 16px;
}

