.btn {
  cursor: pointer;
  outline: none;
  display: block;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 200ms ease;
  &--orange {
    background-color: $orange;
    color: $white;
    &:hover{
      background-color: $lightorange;
    }
  }
  &--big {
    padding: 20px 25px;
  }
  &--small {
    padding: 5px 7px;
  }
}
