//Layout variabelen
$a4-width: 800px;
$a4-height: 1500px;
$padding: 30px 25px;

//Layout
.cv-wrapper {
  display: flex;
  margin: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
  padding: $padding;
}

.orange-column {
    background-color: $orange;
    height: 1150px;
    padding: $padding;
}


.a4-column {
  width: $a4-width;
  height: $a4-height;
  box-shadow: 0px 10px 20px #888;
}

.headera4 {
    height: 350px;
    background-image: url("https://cdn.images.express.co.uk/img/dynamic/151/590x/Earth-1021070.jpg?r=1537557439012");
    padding: 100px 25px;
    h1,p {
        color: $white;
        text-transform: none;
    }
}

.overlay {
  position: relative;
}

.overlay:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
}



