.login {
  background: url('../../images/vestiging-rotterdam.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 700px;
  margin-bottom: 2em;
  top: 200px;
}

.jumbotron {
  text-align: center;
  top: 200px;
  right: 0;
  left: 0;
  margin: auto;
  height: 200px;
  width: 60%;
  border-radius: 6px;
  padding: 48px 60px;
  font: 14px "Open Sans", SansSerif;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
}

.login_button {
  color: #fff;
  font-size: 21px;
  padding: 14px 24px;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.login_button:hover {
  background-color: #ec971f;
  border-color: #d58512;
}

.tittle {
  padding: 20px 0 10px;
}